debian/*.log
*.o
*.lo
*.a
*.la
.deps
Makefile
Makefile.in
bscconfig.h
bscconfig.h.in
*.pc
*~
build
ar-lib
*config.h*

*.*~
*.sw?
.libs
*.pyc
*.gcda
*.gcno

**/TAGS

aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
m4/*.m4

.tarball-version
.version
netvanguard-*.tar.bz2
netvanguard-*.tar.gz


